<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <style>
        .red {
            color: red;
        }

        .ext-thumb {
            width: 60px;
            height: 60px
        }

        .metaStyle > tr > td > div {
            width: 200px;
            height: 200px;
            word-wrap: break-word
        }
        .headline > a {
            color:black;

        }
        .f1{
            color: white;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container-fluid">
<table class="table table-bordered table-striped table-hover">
    <caption align="top">Meta Report</caption>
<tbody>

   <%console.log(content)%>
   <% for(var i = 0; i < content.length; i++) { %>

   <%let geoname=ctitle(content[i]['geo']);
   let ptitle =content[i]['title'];
   let flag="";
   if(content[i]['geo']=="US"){
   flag=1;
   }else{
   flag=ptitle.indexOf(geoname);}%>

   <%function ctitle(geo) {
   let s = "";
   switch (geo){
   case "CN":s="中国";break;
   case "HKTC":s="香港";break;
   case "HKEN":s="HK";break;
   case "TW":s="台灣";break;
   case "MO":s="澳門";break;
   default:s ="";
   }

   return s;
   }%>


   <tr><td bgcolor="#175b96" class="f1">URL</td><td class ="headline" bgcolor="#175b96"><a href="<%= content[i]['oglab'] %>" target="_blank"><%= content[i]['url'] %></a> </td> </tr>
    <tr><td>Title</td><td <%if (flag<0){%>
                class="red" <%}%> ><%= content[i]['title'] %></td> </tr>

    <tr><td>Description</td><td <%if (content[i]['desc'].length>150||content[i]['desc'].length<100){ %>
                class="red" <%}%> ><%= content[i]['desc'] %> </td> </tr>
    <tr><td>OG Title</td><td><%= content[i]['ogTitle'] %> </td> </tr>
    <tr><td>OG URL</td><td><a href="<%= content[i]['ogUrl'] %>" target="_blank"><%= content[i]['ogUrl'] %></a> </td> </tr>
    <tr><td>OG Description</td><td <%if (content[i]['ogDesc'].length>150||content[i]['ogDesc'].length<100){ %>
                class="red" <%}%> ><%= content[i]['ogDesc'] %> </td> </tr>
    <tr><td>OG Image US</td><td><img src="<%=content[i]['ogImageUS']%>" alt="ogImage" class="ext-thumb"> </td> </tr>
    <tr><td>OG Image </td><td><img src="<%=content[i]['ogImage']['url']%>" alt="ogImage" class="ext-thumb"><br>
            Width:<%=content[i]['ogImage']['size']['width'] %> Hight:<%=content[i]['ogImage']['size']['height'] %></td> </tr>
    <tr><td>OG Image label:</td><td><a href="<%= content[i]['oglab'] %>" target="_blank"><%= content[i]['oglab'] %></a></td> </tr>
    <tr><td>OG Image Current Server:</td><td><a href="<%= content[i]['ogImage']['url'] %>" target="_blank"><%= content[i]['ogImage']['url'] %></a></td> </tr>
    <%if (content[i]['ogImage']['geo']=="CN") {%>
    <tr><td>WeChat Image </td><td><img src="<%=content[i]['wechat']['url']%>" alt="wechatImage" class="ext-thumb"><br>
            Width:<%=content[i]['wechat']['size']['width'] %> Hight:<%=content[i]['wechat']['size']['height'] %></td> </tr>
    <tr><td>WeChat URL:</td><td><a href="<%=content[i]['wechat']['url']%>" target="_blank"><%=content[i]['wechat']['url']%></a></td></tr>


   <%}}%>


    </tbody>
</table>
</body>



</html>