<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <style>
        .red {
            color: red;
        }

        .ext-thumb {
            width: 60px;
            height: 60px
        }

        .metaStyle > tr > td > div {
            width: 200px;
            height: 200px;
            word-wrap: break-word
        }
        .headline > a {
            color:white;

        }
        .f1{
            color: white;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container-fluid">
<table class="table table-bordered table-striped table-hover">
    <caption align="top">Meta Report</caption>
<tbody>

   <%console.log(content)%>
   <% for(var i = 0; i < content.length; i++) { %>

   <%let geoname=ctitle(content[i]['geo']);
   let ptitle =content[i]['title'];
   let flag="";
   if(content[i]['geo']=="US"){
   flag=1;
   }else{
   flag=ptitle.indexOf(geoname);}%>

   <%function ctitle(geo) {
   let s = "";
   switch (geo){
   case "CN":s="中国";break;
   case "HKTC":s="香港";break;
   case "HKEN":s="HK";break;
   case "TW":s="台灣";break;
   case "MO":s="澳門";break;
   default:s ="";
   }

   return s;
   }%>

   <%function islocalized(url,geo){
        let flag=false;

        if (geo=="HKTC") {
            if (url.indexOf("hk") !== -1 &&url.indexOf("/hk/en/") == -1){
                flag=true;
            }

        }else
        if(geo=="HKEN"){
            if (url.indexOf("/hk/en/") !== -1){
                flag=true;
            }
        }
        else
            if(url.indexOf(geo.toLowerCase()) !== -1)
        {
            flag=true;
        }
        return flag;
    }%>

  <tr>
    <td bgcolor="#175b96" class="f1">URL</td>
    <td colspan="2" class ="headline" bgcolor="#175b96"><a  href="<%= content[i]['oglab'] %>" target="_blank"><%= content[i]['url'] %></a></td>
  </tr>

  <tr>
    <td></td>
    <th>Geo</th>
    <th>US</th>
  </tr>

  <tr>
    <td>Title:</td>
    <td <%if (flag<0){%> class="red" <%}%> ><%= content[i]['title'] %></td>
    <td <%if (flag<0){%> class="red" <%}%> ><%= content[i]['titleUS'] %></td>
  </tr>

  <tr>
    <td>Description:</td>
    <td <%if (content[i]['desc'] && (content[i]['desc'].length > 150 || content[i]['desc'].length < 100)){ %>
                class="red" <%}%> ><%= content[i]['desc'] %>(<%= content[i]['desc'].length%>) </td>
    <td><%= content[i]['descUS'] %> </td> 
  </tr>

  <tr>
    <td>OG Title:</td>
    <%if(content[i]['ogTitle']){%>
    <td><%= content[i]['ogTitle'] %> </td>
    <td><%= content[i]['ogTitleUS'] %> </td>
    <%}else{%><td>null</td><td>null</td><%}%>
  </tr>

  <tr>
    <td>OG URL:</td>
    <td><a <%content[i].ogUrl && ((content[i].ogUrl.indexOf('https')==-1) || (islocalized(content[i].ogUrl,content[i].geo)==false))?"class='red'":""%> href="<%=content[i]['ogUrl']%>" target="_blank"><%= content[i]['ogUrl'] %></a> </td>
    <td><a href="<%=content[i]['ogUrl']%>" target="_blank"><%= content[i]['ogUrlUS'] %></a> </td> 
  </tr>

  <tr>
    <td>OG Description:</td>
    <%if (content[i]['ogDesc'] && (content[i]['ogDesc'].length > 150 || content[i]['ogDesc'].length < 100)){ %>
    <td class="red"><%= content[i]['ogDesc']%> (<%= content[i]['ogDesc'].length%>)</td><%}else{%><td>null(0)</td><%}%>
    <td><%= content[i]['ogDescUS'] %> </td>
  </tr>

  <tr>
    <td>OG Image: </td>
      <%if(content[i]['oglab']) { %>
      <td><img src="<%=content[i]['oglab']%>" alt="oglab" class="ext-thumb"><br><a <%= content[i]['oglab'].indexOf('https')==-1 ?"class='red'":""%> href="<%= content[i]['oglab'] %>" target="_blank"><%= content[i]['oglab'] %></a></td><%}else{%>
      <td><img alt="oglab" class="ext-thumb"><br><a target="_blank"></a></td><% } %>

    <td><img src="<%=content[i]['ogImageUS']%>" alt="ogImageUS" class="ext-thumb"><br><a href="<%= content[i]['ogImageUS'] %>" target="_blank"><%= content[i]['ogImageUS'] %></a></td>
  </tr>

  <tr>
    <td>OG Image Current Server:</td>
    <td>
      <%if(content[i]['ogImage']['url']) { %>
        <img src="<%= content[i]['ogImage']['url']%>" alt="ogImage" class="ext-thumb"><br>Width:<%= content[i]['ogImage']['size']['width']%> .Hight:<%= content[i]['ogImage']['size']['height'] %><br><a <%=content[i]['ogImage'] && (content[i]['ogImage']['url'].indexOf('https')==-1)?"class='red'":""%> href="<%= content[i]['ogImage']['url']%>" target="_blank"><%= content[i]['ogImage']['url'] %></a></td><%}else{%>
      <img src=""><br>Width:undefined .Hight:undefined<br><a target="_blank"></a><% } %>
    </td>
    <td><img src="<%=content[i]['ogImageUScur']?content[i]['ogImageUScur']:''%>" alt="ogImageUScur" class="ext-thumb"><br><a href="<%= content[i]['ogImageUScur'] %>" target="_blank"><%= content[i]['ogImageUScur'] %></a></td>
  </tr>

    <%if (content[i]['geo']=="CN") {%>
  <tr>


    <td>WeChat Image: </td>
    <td><img src="<%=content[i]['wechat']['url']%>" alt="wechatImage" class="ext-thumb"><br>
            Width:<%=content[i]['wechat']['size']['width'] %> .Hight:<%=content[i]['wechat']['size']['height'] %><br><a href="<%=content[i]['wechat']['url']%>" target="_blank"><%=content[i]['wechat']['url']%></a></td>
            <td>NA</td>
  </tr>


      <%}else if(content[i]['desc']==="Bad Link"){%>
  <tr>
    <td><%=content[i]['url']%></td>
    <td>Bad Link</td>
    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <%}%>
   
  <%}%>


  </tbody>
</table>
</body>



</html>