<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <style>
        .red {
            color: red;
        }

        .ext-thumb {
            width: 60px;
            height: 60px
        }

        .metaStyle > tr > td > div {
            width: 200px;
            height: 200px;
            word-wrap: break-word
        }
    </style>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container-fluid">
<table class="table table-bordered table-striped table-hover">
    <caption align="top">ViewPort Report</caption>
    <tbody class="metaStyle">
    <tr>
        <th>URL</th>
        <th>ViewPort</th>
        <th>Result</th>
    </tr>
    <% for(var i = 0; i < content.length; i++) { %>
    <tr>
        <td>
            <a href="<%= content[i]['url'] %>" target="_blank"><%= content[i]['url'] %></a>
        </td>
        <td>
            <%= content[i]['viewport'] %>
        </td>

        <td
                <% if(!content[i]['flag']) { %>
                class="red"
                <% } %>
        >
            <%= content[i]['flag'] %>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>